* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: system-ui;
}
.container {
  background-color: #fff;
  width: 450px;
  margin: 50px auto;
  border-radius: 8px;
  padding: 20px;
}
.container .text h2 {
  color: #0075ff;
  margin: 0 0 10px 0;
}
.container .text p {
  color: #777;
  font-size: 18px;
  margin: 0 0 15px 0;
}
.container .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .form input,
.container .form button {
  display: block;
  width: 100%;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
  font-size: 18px;
}
.container .form button {
  background-color: #0075ff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.container .qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 1px solid #DDD;
  border-radius: 6px;
  display: none;
}
.container .qr-code img {
  width: 230px;
  height: 230px;
}
